.main {
    padding: 0;
    background: #fff;
}

.header .col-lg-4 {
    width: 250px;
}

.header .col-lg-4 img {
    display: block;
    max-width: 100%;
}

.logo {
    margin-top: 24px;
}

.header .col-lg-9 {
    width: 680px;
}

.btn-import>span {
    background: #ff6600;
}

.btn-import:hover>span,
.btn-import:focus>span {
    background: #e66611;
}
.link-color {
    color: #666666;
}
.form-row span{
    position: relative;
}
.form-row i{
    position: absolute;
    top: 3px;
    right: 5px;
}
.footer{
    text-align: center;
}